{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#<h1>Welcome to the Blockchain Project</h1>#}
{#<p>This is a simple blockchain implementation with PoS consensus and Lightning Network support.</p>#}
{#<div class="button-container">#}
{#    <a href="{% url 'transaction' %}" class="button">New Transaction</a>#}
{#    <a href="{% url 'blockchain' %}" class="button">View Blockchain</a>#}
{#    <a href="{% url 'user_profile' %}" class="button">User Profile</a>#}
{#    <a href="{% url 'validator' %}" class="button">Become a Validator</a>#}
{#</div>#}
{#{% endblock %}#}